<div class="hero text-centered" path-section="home">
  <div class="container hero__container">   
    <div class="eight columns offset-by-two">
      <h1>Moving Berkeley</h1>
      <p>an interactive map of the paths UC Berkeley students take throughout their day-to-day lives</p>

      <a class="button button-primary" ui-sref="home.participate.download">Participate</a>
    </div>
  </div>
</div>
<div class="container text-section">
  <div class="eight columns offset-by-two">
    <p>
      Lorem Khaled Ipsum is a major key to success. Surround yourself with angels. Give thanks to the most high. Congratulations, you played yourself. Learning is cool, but knowing is better, and I know the key to success. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed.
    </p>
    <p>
      Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed. In life there will be road blocks but we will over come it.
    </p>
  </div>
</div>
<div class="container">
  <div class="twelve columns">
    <paths-map></paths-map>
  </div>
</div>
<!-- <div class="text-section" id="participate" path-section="participate">
  <div class="container">
    <div class="twelve columns">
      <h2 class="text-centered">Participate</h2>
    </div>
    <div class="row">
      <div class="four columns">
        <div class="text-centered">
          <div class="step-circle">1</div>
          <img class="step--image" src="static/img/phone.svg" alt="">
          <h3 class="header--alternate">Download Moves.</h3>
          <hr>
        </div>
        <p>We looked into other options, including using Google's location history, and concluded that using the <a href="http://moves-app.com/">Moves app</a> would paint the most accurate picture of the places we visit. Keep your charger with you - this app eats up your battery.</p>
        <div class="text-centered">
          <a href="http://moves-app.com/" class="button button-primary">Download Moves</a>     
        </div>
      </div>
      <div class="four columns">
        <div class="text-centered">
          <div class="step-circle">2</div>
          <img class="step--image" src="static/img/lock.svg" alt="">
          <h3 class="header--alternate">Connect with our app.</h3>
          <hr>
        </div>
        <p>In order for you to participate in our project, you'll have to let Moves know that we can access your data. Click the button below to authenticate with Moves, and afterwards you'll be redirected to a short survey.</p>
        <div class="text-centered">
          <a href="https://api.moves-app.com/oauth/v1/authorize?response_type=code&client_id={{ moves_key }}&scope=activity%20location" class="button button-primary">Auth with Moves</a>     
        </div>
      </div>
      <div class="four columns">
        <div class="text-centered">
          <div class="step-circle">3</div>
          <img class="step--image" src="static/img/shoes.svg" alt="">
          <h3 class="header--alternate">Move around.</h3>
          <hr>
        </div>
        <p>Keep the app around for an hour, a day, or more. We'll stop collecting data after a week, and we won't store any data on where you spend your day off campus.</p>
      </div>
    </div>
  </div>
</div> -->
<div class="text-section">
  <div class="container">
    <div class="eight columns offset-by-two">
      <p>Moving Berkeley is an experiment by the Daily Cal born from a curiosity of when and how different public spaces on campus are used. Using data aggregated from Moves, an activity tracking smartphone app, we will build a map that examines where UC Berkeley students spend their time on campus.</p>
      <p>This project is open-source, and <a href="https://github.com/nguyensomniac/berkeley-paths">you can view the code on Github.</a></p>
    </div>
  </div>
</div>
<div ui-view></div>
