body  {
  font-family: Merriweather, Georgia, serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 h6 {
  font-family: "Fira Sans", Avenir, Calibri, sans-serif;
  letter-spacing: 0;
}

.hero h1  {
  font-size: 8.4rem;
  letter-spacing: -.021em;
  font-weight: 100;
}

input,
button,
.button,
.button-primary {
  font-family: "Fira Sans", Avenir, Calibri, sans-serif;
}

.text-centered  {
  text-align: center;
}

.button-block {
  display: block;
}

.survey-map  {
  width: 100%;
  padding-top: 60%;
}