{% extends "base.html" %}
{% block title %}Not Found - Moving Berkeley{% endblock %}
{% block content %}
  <div class="container text-centered">
    <div class="ten columns offset-by-one">
      <div class="text-section">
        <h1 class="header--alternate">Looks like we lost you.</h1>
        <hr>
        <div class="header header--gargantuan header--bold header--bright">
        4
        <img src="/static/img/error.svg" alt="" class="image--inline">
        4
        </div>
        <p>Whatever you were looking for isn’t in this neck of the woods. You might have better luck if you check the home page.</p>
        <div class="button-block">
          <a href="/" class="button button-primary">Take me home</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}