{% extends "base.html" %}
{% block title %}Server Error - Moving Berkeley{% endblock %}
{% block content %}
  <div class="container text-centered">
    <div class="ten columns offset-by-one">
      <div class="text-section">
        <h1 class="header--alternate">Something went wrong on our end.</h1>
        <hr>
        <div class="header header--gargantuan header--bold header--bright">
        5
        <img src="/static/img/error.svg" alt="" class="image--inline">
        0
        </div>
        <p>Try what you were doing again in a couple of seconds. If the error persists, <a href="mailto:lily@nguyensomniac.com">contact us</a> and we’ll look into finding a fix.</p>
        <div class="button-block">
          <a href="/" class="button button-primary">Take me home</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}