<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% assets "css_all" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
  {% endassets %}
  <title>Moves login</title>
</head>
<body>
  <div class="hero text-centered">
    <div class="container">   
      <div class="eight columns offset-by-two">
        <h1>Moving Berkeley</h1>
        <p>an interactive map of the paths UC Berkeley students take throughout their day-to-day lives</p>

        <a href="https://api.moves-app.com/oauth/v1/authorize?response_type=code&client_id={{ moves_key }}&scope=activity%20location">Auth with Moves</a>
      </div>
    </div>
  </div>
</body>
</html>