{% extends "base.html" %}
{% block title %}Survey Submitted - Moving Berkeley{% endblock %}
{% block content %}
  <div class="container text-centered">
    <div class="eight columns offset-by-two">
      <div class="text-section">
        <h1 class="header--alternate">Submitted!</h1>
        <hr>
        <p>Thanks for participating! Feel free to delete Moves from your phone whenever you’re tired of contributing, hopefully after at least a day or two.</p>
        <p>We hope to build a map that every UC Berkeley student can be proud to be a part of, and it wouldn’t be possible without your help. The more people we reach, the closer we’ll get to our goal - take a second and <a href="https://www.facebook.com/dialog/share?%20app_id=1527380854243630%20&display=page&href=http%3A%2F%2Fberkeley-paths.herokuapp.com%2F&redirect_uri=http%3A%2F%2Fberkeley-paths.herokuapp.com%2F" target="_blank">share our site on Facebook</a> or <a href="https://www.facebook.com/dialog/send?%20app_id=1527380854243630%20&display=page&link=http%3A%2F%2Fberkeley-paths.herokuapp.com%2F&redirect_uri=http%3A%2F%2Fberkeley-paths.herokuapp.com%2F" target="_blank">send it privately to a few friends.</a></p>
        <img src="/static/img/shoes.svg" alt="">
      </div>
    </div>
  </div>
{% endblock %}